$def with (page)

<html>
<head>
    <title>Lucky Cherry Barbot</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link rel="apple-touch-icon" href="../iui/iui-logo-touch-icon.png" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<style type="text/css" media="screen">@import "static/iui/iui.css";</style>
	<script type="application/x-javascript" src="static/iui/iui.js"></script>
</head>
<body>

$:page

</body>
</html>
